<section class="category">
    <a href="#" class="box">
        <img src="img/spa.jpg" alt="Spa">
        <p>Spa</p>
        <p>Relax your body and mind with luxurious spa treatments designed to rejuvenate and revitalize.</p>
    </a>
    <a href="#" class="box">
        <img src="img/bodymass.jpg" alt="Body Massage">
        <p>Body Massage</p>
        <p>Experience deep tissue massage that helps reduce muscle tension and promotes relaxation.</p>
    </a>
    <a href="#" class="box">
        <img src="img/reflection.jpg" alt="Reflection">
        <p>Reflection</p>
        <p>A special foot massage technique that focuses on reflex points to relieve stress and tension.</p>
    </a>
</section>
